.boton {
    background-color: #49498A;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 91%;
    margin-left: 36.5%;
    font-family: Lato, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}