.foto-perfil {
    background-image: url("../images/perfil-empty.png");
    width: 300px;
    height: 300px;
    position: absolute;
    margin-left: 597px;
    margin-top: 60px;
}

.texto-foto {
    color: white;
    font-size: 28px;
    position: absolute;
    text-align: center;
    margin-top: 385px;
    width: 1500px;
}

.button {
    position: absolute;
    color: white;
    font-size: 34px;
    text-align: center;
    padding-top: 15px;
    background-color: #1b1b32;
    height: 50px;
    width: 230px;
    cursor: pointer;
}

.play {
    margin-top: 530px;
    margin-left: 320px;
}

.play:hover {
    box-shadow:  5px 5px 20px #FA47F4,
                -5px -5px 20px #FA47F4;
}

.ranking {
    margin-top: 530px;
    margin-left: 947px;
}

.ranking:hover {
    box-shadow:  5px 5px 20px #FA47F4,
                -5px -5px 20px #FA47F4;
}